.Ntop-content
  .Mode
    Normal Mode
.Nmiddle-content
  .Nproblem
    = @question.content
  - if @answer == 1
    .choice1.answer
      .frame
        = @choice1.text
  - else
    .choice1.miss
      .frame
        = @choice1.text
  - if @answer == 2
    .choice2.answer
      .frame
        = @choice2.text
  - else
    .choice2.miss
      .frame
        = @choice2.text
  - if @answer == 3
    .choice3.answer
      .frame
        = @choice3.text
  - else
    .choice3.miss
      .frame
        = @choice3.text
  - if @answer == 4
    .choice4.answer
      .frame
        = @choice4.text
  - else
    .choice4.miss
      .frame
        = @choice4.text
.Nbottom-content
  - if @question.id == 21
    = link_to normals_path, class: "nextbutton" do
      戻る
  - elsif @question.id == 50
    = link_to normals_path, class: "nextbutton" do
      戻る
  - else
    = link_to normal_questions_path(@question.id + 1), class: "nextbutton" do
      次へ進む
  = link_to "/normals", class: "top-page-btn" do
    Contents

-# -if @question.id <= 50
-# -else     
-#   exit
    -# ルーティングでノーマルズの中にクエスチョンズをネストさせたところ、
    -# どうやらこのページに飛ぶようになったようだ。
    -# しっかり問題は提示されるが・・・font



-# %ul.grid{style: "display: grid; grid-template-columns: 100px 100px; grid-template-rows: 50px 50px;"}
-#   %li
-#     = @sample1
-#   - @sample2.each do |sample|
-#     %li
-#       = sample

-# where.not


-# model 
-# def self.select_choice(number)
-#     @choice1 = Choice.find(number)
-#     @choice2 = Choice.where( 'id >= ?', rand(Choice.first.id..Choice.last.id) ).first(3)
-# end


-# controller
-# number = params(:normal_id)
-# Questions.select_choice(number)

-# ↑まだ自分が理解仕切れていないため、リファクタリングはまた今度。