.Ntop-content
  .Mode
    Normal Mode

.Nindex-middle-content
  .big-categoryA
    .categoryA
      切り取り、コピー、貼り付け、その他の
      %br
      一般的なショートカット(全21問)
    .exercise-setA
      .exerciseA
        .exercise1
          - @questions1.each_with_index do |question, i| 
            = link_to normal_questions_path(question), class: "ex" do
              第#{ i + 1 }問
              -# 全て持ってきた情報を、eachでかけて表示。
              -# そこをクエスチョンというブロック変数に置いてあげる。
              -# 今一個一個クエスチョンから持ってきてあげたもののidに紐づく問題を出す。
                              -# - if i == 8 then
  .big-categoryB          
    .categoryB
      Finderとシステムに
      %br
      関するショートカット(全29問)
    .exercise-setB
      .exerciseB
        .exercise2
          - @questions2.each_with_index do |question, i| 
            = link_to normal_questions_path(question), class: "ex" do
              第#{ i + 1 }問

.Nbottom-content
  = link_to "/", class: "top-page-btn" do
    Top Page


